
.header {
    display: flex;

    border-bottom: 1px solid #D9FFF5;
    
    justify-content: space-around;
    align-items: center;

    padding: 18px 0;
}

@media (min-width: 768px){
    .header {
        justify-content: space-between;
        padding: 24px;
    }
}

