.services {
    display: none;
}

@media (min-width: 1120px) {
    .services {
        display: flex;
    }
}

.services__item {
    list-style: none;
    margin-left: 32px;
}

.services__item-icon {
    margin-left: 9px;
    
    background-color: initial;
}

.services__item-icon--icon--repair {
    width: 40px;
    height: 40px;
    margin-left: 16px;

    border-radius: 50%;
    background-color: #FF3E79;
    background-image: url("../../img/icons/repair.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.services__item-icon--icon--check-status {
    width: 40px;
    height: 40px;
    margin-left: 16px;

    border-radius: 50%;
    background-color: #FF3E79;
    background-image: url("../../img/icons/check-status.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.services__item-link {
    display: flex;
    align-items: center;
}