.about-us__image {
    align-self: center;

    max-width: 320px;
}

@media (min-width: 768px){
    .about-us__image {
        max-width: 360px;
        border-radius: 10px;
        margin-left: 48px;
    }
}

@media (min-width: 1120px){
    .about-us__image {
        max-width: 531px;
        border-radius: 10px;
        margin-left: 36px;
    }
}