.main__header {
    display: flex;
    text-align: center;
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .main__header {
        margin-bottom: 32px;
    }
}

@media (min-width: 1120px) {
    .main__header {
        margin-bottom: 8px;
    }
}