.main__navigation {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 24px;
    letter-spacing: -0.2px;
    
    align-items: center;

    overflow-x: scroll;
}

@media (min-width: 1120px) {
    .main__navigation {
        flex-wrap: wrap;
    
        overflow-x: hidden;
    }
}