.main__navigation-item--not-active--size-l {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding: 10px;
}

@media (min-width: 1120px) {
    .main__navigation-item--not-active--size-l {
        background-color: initial;
        border: 0;
        border-radius: 0;
        padding: 0;
    }
}