.main__container {
    padding: 24px 16px;
}

@media (min-width: 768px){
    .main__container {
        padding: 24px;
    }
}

@media (min-width: 1120px){
    .main__container {
        padding: 32px;
    }
}