.nav-item {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 0;
    list-style: none;
}

.nav-item--icon--check-status {
    background-image: url("../../img/icons/check-status.svg");
}

.nav-item--icon--burger {
    background-image: url("../../img/icons/burger.svg");
}

.nav-item--icon--call {
    background-image: url("../../img/icons/call.svg");
    display: none;
}

@media (min-width: 768px) {
    .nav-item--icon--call {
        display: block;
    }
}

.nav-item--icon--chat {
    background-image: url("../../img/icons/chat.svg");
    display: none;
}

@media (min-width: 768px) {
    .nav-item--icon--chat {
        display: block;
    }
}

.nav-item--icon--profile {
    background-image: url("../../img/icons/profile.svg");
    display: none;
}

@media (min-width: 768px) {
    .nav-item--icon--profile {
        display: block;
    }
}

.nav-item--icon--repair {
    background-image: url("../../img/icons/repair.svg");
}