
.header {
    display: flex;

    border-bottom: 1px solid #D9FFF5;
    
    justify-content: space-around;
    align-items: center;

    padding: 18px 0;
}

@media (min-width: 768px){
    .header {
        justify-content: space-between;
        padding: 24px;
    }
}

@media (min-width: 1120px){
    .header {
        display: none;
    }
}

.header__burger-menu {

}

@media (min-width: 768px){
    .header__burger-menu {
        order: 1;
    }
}


.header__decoration-element {

}

@media (min-width: 768px){
    .header__decoration-element {
        margin: 0 20px;
    }
}

.header__decoration-element--position--between-burger-logo {

}

@media (min-width: 768px){
    .header__decoration-element--position--between-burger-logo {
        order: 2;
    }
}

.header__decoration-element--position--between-profile-repair {
    display: none;
}

@media (min-width: 768px){
    .header__decoration-element--position--between-profile-repair {
        display: list-item;
    }
}

.header__logo {
    width: 100px;
    height: 50px;
}


@media (min-width: 768px){
    .header__logo {
        margin-right: auto;
        
        order: 3;
    }
}

.header__navigation-item--no-margin {
     
}

@media (min-width: 768px){
   .header__navigation-item--no-margin {
       margin-right: 0;
   }
}

.header__navigation-item {

}

@media (min-width: 768px){
    .header__navigation-item {
        margin-right: 16px;
    }

    .header__navigation-item:last-child,
    .header__navigation-item:nth-child(3) {
        margin-right: 0;
    }
}

.header__navigation-items {
    display: flex;
    margin: 0;
    padding: 0;
    width: 28%;

    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px){
    .header__navigation-items {
        width: 290px;
        order: 4;
    }
}
