.about-us__text-container-inner {
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .about-us__text-container-inner {
        margin-bottom: 10px;
    }    
}

@media (min-width: 1120px) {
    .about-us__text-container-inner {
        margin-bottom: 14px;
    }    
}