.navigation {
    display: flex;
    padding: 0;
    list-style: none;
}

.navigation__item {
    width: 40px;
    height: 40px;
    margin-left: 16px;

    border-radius: 50%;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation__item--icon_call {
    display: none;
    background-image: url("../../img/icons/call.svg");
}

@media (min-width: 768px) {
    .navigation__item--icon_call {
        display: block;
    }
}

.navigation__item--icon_chat {
    display: none;
    background-image: url("../../img/icons/chat.svg");
}

@media (min-width: 768px) {
    .navigation__item--icon_chat {
        display: block;
    }
}

.navigation__item--icon_profile {
    display: none;
    background-image: url("../../img/icons/profile.svg");
}

@media (min-width: 768px) {
    .navigation__item--icon_profile {
        display: block;
    }
}

.navigation__item--icon_repair {
    display: block;
    position: relative;
    background-image: url("../../img/icons/repair.svg");
    margin-left: 42px;
}

.navigation__item--icon_repair::before {
    position: absolute;
    left: -21px;
    top: 3px;
    width: 0;
    height: 32px;
    border: 1px solid #EAEAEA;
    border-radius: 1px;
    content: '';
}

.navigation__item--icon_check-status {
    display: block;
    background-image: url("../../img/icons/check-status.svg");
}

