@import url('page/page.css');
@import url('page/__body/page__body.css');

@import url('link/link.css');
@import url('link/--color--grey/link--color--grey.css');
@import url('link/--color--inherit/link--color--inherit.css');

@import url('header/header.css');
@import url('header/__navigation-items/header__navigation-items.css');
@import url('header/__logo/header__logo.css');
@import url('header/__burger-menu/header__burger-menu.css');
@import url('header/__decoration-element/header__decoration-element.css');
@import url('header/__navigation-item/header__navigation-item.css');
@import url('header/__navigation-item/--no-margin/header__navigation-item--no-margin.css');
@import url('header/__decoration-element/--position--between-burger-logo/header__decoration-element--position--between-burger-logo.css');
@import url('header/__decoration-element/--position--between-profile-repair/header__decoration-element--position--between-profile-repair.css');

@import url('nav-item/nav-item.css');
@import url('nav-item/--icon--burger/nav-item--icon--burger.css');
@import url('nav-item/--check-status/nav-item--icon--check-status.css');
@import url('nav-item/--icon--repair/nav-item--icon--repair.css');
@import url('nav-item/--icon--call/nav-item--icon--call.css');
@import url('nav-item/--icon--chat/nav-item--icon--chat.css');
@import url('nav-item/--icon--profile/nav-item--icon--profile.css');

@import url('decoration-element/decoration-element.css');

@import url('main/main.css');
@import url('main/__title/main_title.css');
@import url('main/__navigation/main__navigation.css');
@import url('main/__navigation-item/main__navigation-item.css');
@import url('main/__navigation-item/--active/main__navigation-item--active.css');
@import url('main/__navigation-item/--display-size-l/main__navigation-item--display-size-l.css');
@import url('main/__navigation-item/--not-active--size-l/main__navigation-item--not-active--size-l.css');
@import url('main/__navigation-item/--hidden-size-l/main__navigation-item--hidden-size-l.css');
@import url('main/__content/main__content.css');
@import url('main/__container/main__container.css');
@import url('main/__header/main__header.css');

@import url('about-us/about-us.css');
@import url('about-us/__text-container-inner/about-us__text-container-inner.css');
@import url('about-us/__text-container/about-us__text-container.css');
@import url('about-us/__text/about-us__text.css');
@import url('about-us/__text/--bottom-space/about-us__text--bottom-space.css');
@import url('about-us/__text/--display--size-m/about-us__text--display--size-m.css');
@import url('about-us/__link-to-full-text/about-us__link-to-full-text.css');
@import url('about-us/__image/about-us__image.css');
@import url('about-us/__hidden-text/about-us__hidden-text.css');
@import url('about-us/__hidden-text/--display--size-l/about-us__hidden-text--display--size-l.css');

@import url('services/services.css');
@import url('services/__item/services__item.css');
@import url('services/__item-text/services__item-text.css');
@import url('services/__item-icon/services__item-icon.css');
@import url('services/__item-link/services__item-link.css');

@font-face {
    font-family: 'TT Lakes';
    src: url('/fonts/TTLakes/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('/fonts/TTLakes/TTLakes-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
        url('/fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/fonts/TTLakes/TTLakes-Italic.eot');
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
        url('/fonts/TTLakes/TTLakes-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes/TTLakes-Italic.woff') format('woff'),
        url('/fonts/TTLakes/TTLakes-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/fonts/TTLakes/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('/fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('/fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/fonts/TTLakes/TTLakes-BoldItalic.eot');
    src: local('TT Lakes Bold Italic'), local('TTLakes-BoldItalic'),
        url('/fonts/TTLakes/TTLakes-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes/TTLakes-BoldItalic.woff') format('woff'),
        url('/fonts/TTLakes/TTLakes-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

*,::after,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}